* {
	box-sizing: border-box;
}
section {
	width: 100%;
	/*border: 1px solid blue;*/
}
div {
	/*border: 1px solid red;*/
}
html {
	background-color: #D4D4D4; /* Fallback for gradient */
	background-image: linear-gradient(#9FA09F, #D4D4D4);
	background-repeat: no-repeat;
	background-attachment: fixed;
}
#wrapper {
	max-width: 800px;
	min-width: 635px;
	margin: 0 auto;
	/*border: 1px solid green;*/
	margin-top: 0;
	font-family: 'jrhandregular', Verdana, serif;
	font-size: 1.75rem;
}
#top_board {
	height: 200px;
	background-image: url('../img/whiteboard_top.svg');
	background-repeat: no-repeat;
	background-position: bottom center;
	background-size: 800px auto;
	text-align: center;
	padding-top: 52px;
}
#middle_board {
	min-height: 100px;
	background-image: url('../img/whiteboard_middle.svg');
	background-repeat: repeat-y;
	background-position: center;
	background-size: 800px auto;
	margin-top: -5rem;
}
#bottom_board {
	height: 300px;
	background-image: url('../img/whiteboard_bottom.svg');
	background-repeat: no-repeat;
	background-position: top center;
	background-size: 800px auto;
}
.container {
	width: 580px;
	margin: 0 auto;
	/*border: 1px solid gray;*/
}
h1 {
	font-family: 'permanent_markerregular', Helvetica, sans-serif;
	font-size: 3rem;
	color: #4830DA;
}
#add_item {
	font-family: 'jrhandregular';
	border: 0;
	font-size: inherit;
	color: #C4C4C4;
	width: 85%;
	float: left;
	display: inline-block;
	margin: 2rem 0 1rem 2.7rem;
}
#add_item:focus {
	outline-width: 0;
	color: #000000;
}
#add_delete {
	margin-left: -100%;
	float: right;
	margin-top: 2.25rem;
	margin-right: 0.5rem;
}
#item_list > li {
	padding: 0.4rem 0.5rem;
}
#item_list > li:hover {
	background-color: #CFF8FE;
}
#item_list > li:hover > .left_icon{
	color: #4830DA;
}
#item_list > li:hover > .right_icon{
	color: indianred;
}
i:before {
	cursor: pointer;
}	
.flaticon-delete100:before {
	-ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
	transform: rotate(45deg);
	display: inline-block;
	color: green;
}
.flaticon-delete101 {
	color: red;
}
.left_icon {
	margin-right: 1rem;
	color: #D0D0D0;
	display: inline-block;
	float: left;
}
.right_icon {
	display: inline-block;
	float: right;
	margin-left: -100%;
	color: #D0D0D0;
}
#item_list p {
	width: 485px;
	display: inline-block;
	float: left;
}
#item_list .checked {
	color: #D0D0D0;
}
.checked p {
	text-decoration: line-through;
}
.flaticon-pencil122:before, .flaticon-eraser2:before {
	margin-left: 0;
}
.flaticon-recycling10 {
	float: right;
}
#reset_list {
	width: 180px;
	height: 30px;
	position: relative;
	top: 7.6rem;
	left: 2.3rem;
	cursor: pointer;
}
#bottom_board img {
	width: 12rem;
	position: relative;
	top: 10rem;
}
footer {
	width: 100%;
	background-color: #464646;
	color: #CFF8FE;
	font-size: 1rem;
}
#credit {
	padding: 3rem 0;
}
#credit a {
	color: inherit;
	text-decoration: none;
}