* {
	box-sizing: border-box;
}
section {
	width: 100%;
	/*border: 1px solid blue;*/
}
div {
	/*border: 1px solid red;*/
}
html {
	background-color: #D4D4D4; /* Fallback for gradient */
	background-image: linear-gradient(#9FA09F, #D4D4D4);
	background-repeat: no-repeat;
	background-attachment: fixed;
}
#wrapper {
	max-width: 800px;
	min-width: 635px;
	margin: 0 auto;
	/*border: 1px solid green;*/
	margin-top: 0;
	font-family: 'jrhandregular', Verdana, serif;
	font-size: 1.75rem;
}
.container {
	width: 580px;
	margin: 0 auto;
	/*border: 1px solid gray;*/
}
#top_board {
	height: 200px;
	background-image: url('../img/whiteboard_top.svg');
	background-repeat: no-repeat;
	background-position: bottom center;
	background-size: 800px auto;
	text-align: center;
	padding-top: 60px;
}
h1 {
	font-family: 'permanent_markerregular', Helvetica, sans-serif;
	font-size: 3rem;
	color: #4830DA;
}
#middle_board {
	min-height: 220px;
	background-image: url('../img/whiteboard_middle.svg');
	background-repeat: repeat-y;
	background-position: center;
	background-size: 800px auto;
	margin-top: -5rem;
}
#input_line {
	padding: 0.4rem 0.5rem;
}
#input_line .left_icon, #input_line .right_icon {
	padding-top: 0.375rem;
}
.flaticon-delete101:before {
	margin: 0;
	padding-top: 0;
	font-size: 20px;
	color: :before;
}
.flaticon-delete101:hover:before {
	color: indianred;
}
#add_item {
	display: inline-block;
	float: left;
	border: 0;
	margin: 0 0 0 0;
	width: 86%;
	font-family: 'jrhandregular';
	font-size: inherit;
	color: #C4C4C4;
}
#add_item:focus {
	outline-width: 0;
	color: #000000;
}
button#add {
	width: 25px;
	height: 25px;
	margin: 0;
	padding: 0;
	cursor: pointer;
	border: 0;
	background-color: rgba(0,0,0,0);
	background-image: url(../img/green_plus.svg);
	background-repeat: no-repeat;
	background-size: 80% 80%;
	background-position: center;
	border: 2px solid rgb(37,183,64);
	border-radius: 0.3rem;
}
button#add:focus{
	outline: 0;
}
button#add:hover {
	background-color: rgba(97, 243, 124, 0.5);
}
/*.flaticon-delete100:before {
	display: inline-block;
	-ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	color: green;
}*/
#item_list > li {
	padding: 0.4rem 0.5rem;
}
#item_list > li:hover {
	background-color: #CFF8FE;
}
#item_list > li:hover > .left_icon{
	color: #4830DA;
}
#item_list > li:hover > .right_icon{
	color: indianred;
}
i:before {
	cursor: pointer;
}
.left_icon {
	margin-right: 1rem;
	color: #D0D0D0;
	display: inline-block;
	float: left;
}
.right_icon {
	display: inline-block;
	float: right;
	margin-left: -100%;
	color: #D0D0D0;
}
#item_list p {
	width: 485px;
	display: inline-block;
	float: left;
}
.checked p {
	text-decoration: line-through;
	color: #D0D0D0;
}
.flaticon-pencil122:before, .flaticon-eraser2:before {
	margin-left: 0;
}
/*.flaticon-recycling10 {
	float: right;
}*/
#bottom_board {
	height: 300px;
	background-image: url('../img/whiteboard_bottom.svg');
	background-repeat: no-repeat;
	background-position: top center;
	background-size: 800px auto;
}
#reset_list {
	width: 180px;
	height: 30px;
	position: relative;
	top: 7.6rem;
	left: 2.3rem;
	cursor: pointer;
}
#bottom_board img {
	width: 12rem;
	position: relative;
	top: 10rem;
}
footer {
	width: 100%;
	background-color: #464646;
	color: #CFF8FE;
	font-size: 1rem;
	font-family: Helvetica, sans-serif;
	text-align: center;
	border-top: 2px solid #666666;
}
#credit {
	padding: 3rem 0;
}
footer p {
	margin: 0.75rem 0;
}
footer a {
	color: indianred;
	text-decoration: none;
}